.react-loading-skeleton {
	border-radius: 6px !important;
	--base-color: rgba(3, 179, 255, 0.12);
	--highlight-color: #03B3FF;
	&[style*="border-radius"] {
		border-radius: 50% !important;
	}
}

.react-loading-skeleton-absolute {
	.react-loading-skeleton {
		position: absolute;
		top: 0;
		left: 0;
		width: 100% !important;
		height: 100% !important;
	}
}