@import "./styles/helpers/vars";
@import "./styles/helpers/mixins";

.btn {
	display: inline-block;
	vertical-align: middle;
	padding: 0;
	border: 0;
	font-size: 0;
	background-color: transparent;
	cursor: pointer;
	transform: translateY(-2px);
	margin-left: 3px;
}