@import "./styles/helpers/vars";
@import "./styles/helpers/mixins";

.link {
	display: inline-block;
	font-size: 14px;
	line-height: 1.6;
	font-weight: 600;
	position: relative;
	&:hover {
		color: var(--brand);
	}
	&:after {
		content: '';
		position: absolute;
		top: 100%;
		left: 0;
		width: 100%;
		height: 2px;
		background: var(--gradient);
	}
}